<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cricket Match Project</title>
    <link rel="stylesheet" href="/src/styles.css" />
    <!-- Include the Tailwind CSS file -->
  </head>
  <body class="bg-gray-100 font-sans">
    <div class="container mx-auto p-4">
      <!-- Header -->
      <header class="text-center my-8">
        <h1 class="text-4xl font-bold text-blue-700">Cricket Match Project</h1>
        <p class="mt-4 text-gray-600">Enjoy live updates and scores!</p>
      </header>
      <!-- Live Match Info -->
      <section class="mt-8">
        <h2 class="text-2xl font-bold text-gray-800 mb-4 text-center">Live Updates</h2>
        <div class="img">
          <img
            src="assets/images/live-cricket-stadium-background-with-cricket-equipment-free-vector.jpg"
            alt="Live Match Image"
            class="w-full rounded-lg"
          />
        </div>
        <div class="mt-4 btntag">
          <a
            href="/live"
            class="anch bg-blue-500 text-white py-2 px-4 rounded-full hover:bg-blue-700 transition duration-300"
            >Go to Live Matches</a
          >
        </div>
      </section>
    </div>

    <!-- Footer -->
    <footer class="bg-blue-700 text-white text-center py-4">
      <p>&copy; 2024 Cricket Match Project. All rights reserved.</p>
    </footer>
  </body>
</html>
